@font-face {
  font-family: wavy;
  src: url(../static/mexcellent/mexcellent-rg.otf);
}
:root {
  --color-btn: rgb(227, 137, 255);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  display: flex;
  flex-wrap: wrap;
}

body > * {
  flex: 1;
}

.img-wrapper {
  position:relative;
  height: 100svh;
  width: 90%;
  min-width: 50svw;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.center, .credit {
  font-family: wavy;
  
  user-select: none;
  
  position: absolute;
  text-align: center;
}

a {
  color: black;
}

.center {
  font-size: min(5rem, 8vw);
  left: 45%;
  top: 40%;
  transform: translate(-50%, -50%);

}

.credit {
  font-size: 1rem;

  left: 40%;
  top: 90%;
  transform: translate(-50%, -90%);
}


.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  padding: 64px;
}

.info-paragraph {
  font-size: 2rem;
  font-weight:600;
  min-width: 250px;
}

input, button {
  font-family: inherit;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: 0.2s;
  box-shadow: 3px 3px black;

}

button {
  color:black;
  background-color: var(--color-btn);
}


input:focus,
button:active {
  outline:0;
  box-shadow: 0px 0px 0px black;
  border: 1px solid rgba(0, 0, 0, 1);
}

input:focus {
  box-shadow: 3px 3px 15px rgba(152, 88, 212, 0.5);

}


form {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  width: 80%;
  gap: 32px;
}

form > * > * {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

form > * {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.btn button {
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  height: 50px;
}

label {
  opacity: 0.7;
}

br {
  user-select: none;
}

.login {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.login button {
  all: initial;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  color:rgb(198, 106, 226);
  
}